<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amprecover.plugins.keychain.keychain">

    <application>
        <activity
            android:name="com.amprecover.plugins.keychain.BiometricActivity"
            android:exported="true"
            android:theme="@style/TransparentTheme" />
    </application>

</manifest>